<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Your Business- Greater Noida Directory(GND)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<section class="business-form-container">

    <h1>Add Your Business</h1>
    <p>Fill in the details below to list your business.</p>

    <form method="POST" enctype="multipart/form-data">

<input type="text" name="name" placeholder="Enter business name" required>

<input type="text" name="owner" placeholder="Enter owner name" required>

<input type="tel" name="phone" placeholder="Enter phone number" required>

<input type="email" name="email" placeholder="Enter email address">

<select name="category" required>
    <option value="">Select Category</option>
    <option value="Hospitals & Clinic">🏥 Hospital & Clinic</option>
    <option value="Astrology">🔮 Astrology</option>
    <option value="Restaurants & Cafe">🍽 Restaurants & Cafe</option>
    <option value="Education">🏫 Education</option>
    <option value="Jobs">💼 Jobs</option>
    <option value="Fitness">💪 Fitness</option>
    <option value="Advocate">⚖️ Advocate</option>
    <option value="House Rent/Sale">🏘️ House Rent/Sale</option>
    <option value="Shop Rent/Sale">🏚️ Shop Rent/sale</option>
    <option value="Pg-Hostel">🏨 PG / Hostel</option>
    <option value="Beauty">💇 Beauty Services</option>
    <option value="Unisex Saloon">💇‍♂️💇‍♀️ Unisex Salon</option>
    <option value="Spa">💆 Spa</option>
    <option value="Boutique">🏷️ Boutique</option>
    <option value="Dry Cleaners">🧼 Dry Cleaners</option>
    <option value="Insurance Advisor">🛡️ Insurance Advisor</option>
    <option value="Mobile Repairs & Computer Services">💻 Mobile Repairs & Computer Services</option>
    <option value="Other">🏬 Other Business</option>
</select>

<input type="text" name="city" placeholder="Enter city">

<input type="text"
       name="gstin"
       placeholder="Enter GSTIN No.">
        
<textarea name="address" placeholder="Enter complete address"></textarea>

<textarea
          name="description"
          placeholder="Enter Description of Your Business">
</textarea>

        <label>Business Image / Logo</label>

<input
type="file"
name="image"
accept="image/*">

<button type="submit">Submit Business</button>

</form>

</section>

</body>
</html>
