<!DOCTYPE html>
<html>

<head>

<title>Greater Noida Directory(GND)</title>
<link rel="stylesheet" href="/static/style.css">


</head>

<body>

    <nav class="navbar">
  <div class="logo">Greater Noida Directory(GND)
    <h5>Find Trusted Local Services, Shops & Jobs in Greater Noida</h5>
  </div>


  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Categories</a></li>
    <li><a href="#">About</a></li>
    <a href="/contact">Contact</a>
    <li><a href="/admin-login">Admin Login</a></li>

  </ul>
</nav>

</nav>


<div class="hero">

    <h1>One Search. Endless Possibilities.</h1>

    

    <div class="search-container">

        <input
        type="text"
        placeholder="📍 Location"
        class="location-box">

        <input
        type="text"
        placeholder="Search for Restaurants, Jobs, Hospitals..."
        class="search-box">

        <button onclick="showMessage()">
            Search
        </button>

    </div>


<section class="services">
    <a href="/category/Hospitals/Clinics" class="service-card">🏥 Hospitals/Clinics</a>

    <a href="/category/Astrology" class="service-card">🔮 Astrology</a>

    <a href="/category/Restaurant & Cafe" class="service-card">🍽️ Restaurants & Cafe</a>

    <a href="/category/Education" class="service-card">🏫 Education</a>

    <a href="/category/Jobs" class="service-card">💼 Jobs</a>

    <a href="/category/Advocate" class="service-card">⚖️ Advocate</a>

    <a href="/category/Insurance Advisor" class="service-card">🛡️Insurance Advisor</a>

    <a href="/category/House Rent/Sale" class="service-card">🏘️ House Rent/Sale</a>

    <a href="/category/Shop Sale/Rent" class="service-card">🏚️ Shop Sale/Rent</a>

    <a href="/category/PG" class="service-card">🏨 PG / Hostels</a>

    <a href="/category/Beauty" class="service-card">💇‍♀️ Beauty Services</a>

    <a href="/category/Unisex Saloon" class="service-card">💇‍♂️💇‍♀️ Unisex Salon</a>

    <a href="/category/Spa" class="service-card">💆 Spa</a>

    <a href="/category/Boutique" class="service-card">🏷️ Boutique</a>

    <a href="/category/Dry Cleaners" class="service-card">🧼 Dry cleaners</a>

    <a href="/category/Mobile Repairs & Computer Services" class="service-card">💻 Mobile Repairs & Computer Services</a>

    <a href="/category/Other business" class="service-card">🏪 Other business</a>


</section>

<section class="add-business-box">

    <h2>🚀 Grow Your Business with Greater Noida Directory(GND)</h2>

    <p>
        Get discovered by customers and promote your business on our platform.
    </p>

<a href="/add-business" class="add-business-btn">
    Add Your Business
</a>
        
    </a>

</section>

<script src="script.js"></script>
<section id="contact" class="contact">

</section>

<footer>
    <p>© 2026 Greater Noida Directory(GND) | Search • Discover • Connect</p>
</footer>

</body>

</html>
