<!DOCTYPE html>
<html>

<head>

<title>Greater Noida Directory(GND)</title>
<link rel="stylesheet" href="/static/style.css">


</head>

<body>

    <nav class="navbar">
  <div class="logo">Greater Noida Directory(GND)
    <h5>Find Trusted Local Business, Shops & Jobs in Greater Noida</h5>
  </div>


  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Categories</a></li>
    <li><a href="#">About</a></li>
     <a href="/contact">Contact</a>
      <a href="/admin-login">Admin Login</a>

  </ul>
</nav>

</nav>


<div class="hero">

    <h1>One Search. Endless Possibilities.</h1>

    

    <div class="search-container">

        <input
        type="text"
        placeholder="📍 Location"
        class="location-box">

        <input
        type="text"
        placeholder="Search for Restaurants, Jobs, Hospitals..."
        class="search-box">

        <button onclick="showMessage()">
            Search
        </button>

    </div>


<section class="services">

    <a href="/category/Hospital" class="service-card">🏥 Hospitals</a>

    <a href="/category/Astrology" class="service-card">🔮 Astrology</a>

    <a href="/category/Restaurant" class="service-card">🍽️ Restaurants</a>

    <a href="/category/Education" class="service-card">🏫 Education</a>

    <a href="/category/Jobs" class="service-card">💼 Jobs</a>

    <a href="/category/Fitness" class="service-card">🏋️‍♂️ Fitness</a>

    <a href="/category/RealEstate" class="service-card">🏡 Real Estate</a>

    <a href="/category/PG" class="service-card">🏨 PG / Hostels</a>

    <a href="/category/Beauty" class="service-card">💇‍♀️ Beauty Services</a>
     
    <a href="/category/Advocate" class="service-card">⚖️ Advocate</a>

    <a href="/category/Other business" class="service-card">🏪 Other business</a>

</section>

<section class="add-business-box">

    <h2>🚀 Grow Your Business with Greater Noida Directory(GND)</h2>

    <p>
        Get discovered by customers and promote your business on our platform.
    </p>

<a href="/add-business" class="add-business-btn">
    Add Your Business
</a>
        
    </a>

</section>

<script src="script.js"></script>
<section id="contact" class="contact">

</section>

<footer>
    <p>© 2026 Greater Noida Directory(GND) | Search • Discover • Connect</p>
</footer>

</body>

</html>
